# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
+ List popular languages for Data Science.
+ Some of the commonly used libraries used by Data Scientists.
+ Datacience Tools.
+ Datacience Tools. A few examples of evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Pyton
2. R
3. Scala
4. Julia

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Seaborn
3. Keras

|Data Science Tools | 
| ----------------- |
| jupyter lab  |
| R Studio     |
| Apache Zeppelin |
| Spyder  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
A = 200/60
print(A,"H")

3.3333333333333335 H

## Author 
ILYAS RRAISS

In [7]:
### clik the link b
[My_Github_link](https://github.com/ilyas546/My_Second_Project/blob/main/DataScienceEcosystem.ipynb)

<class 'SyntaxError'>: invalid syntax (<ipython-input-7-6880c7c5c4fb>, line 2)